@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=JetBrains+Mono&display=swap');
//--FONT
$font-primary: 'IBM Plex Sans', sans-serif;
$font-secondary: 'JetBrains Mono', monospace;

//--COLOURS
$color-black: #2D3436;
$color-white: #FFFFFF;

//--COLOURS 
$color-background: #004643;
$color-headline: #fffffe;
$color-paragraph: #abd1c6;
$color-button: #f9bc60;
$color-button-text: #001e1d;
$color-main: #e8e4e6;
$color-primary: #f9bc60;
$color-secondary: #abd1c6;
$color-tertiary: #e16162;